@model ConexionSql.Models.Materiales.IbMatEti

<h2>AFMR IB_MAT_ETI</h2>
<hr />

<div>ID: @Model.IB_MAT_ETI_ID</div>
<div>ID_FORM: @Model.IB_MAT_ETI_ID_FORM</div>
<div>DEN: @Model.IB_MAT_ETI_DEN</div>
<div>COS: @Model.IB_MAT_ETI_COS</div>
<div>PRE: @Model.IB_MAT_ETI_PRE</div>
<div>FEC: @Model.IB_MAT_ETI_FEC</div>
<div>OCU: @Model.IB_MAT_ETI_OCU</div>

<hr />

<div>TXT_1: @Model.IB_MAT_ETI_TXT_1</div>
<div>TXT_2: @Model.IB_MAT_ETI_TXT_2</div>
<div>TXT_3: @Model.IB_MAT_ETI_TXT_3</div>

<hr />

<div>NUM_1: @Model.IB_MAT_ETI_NUM_1</div>
<div>NUM_2: @Model.IB_MAT_ETI_NUM_2</div>
<div>NUM_3: @Model.IB_MAT_ETI_NUM_3</div>

<hr />

<div>DTI_1: @Model.IB_MAT_ETI_DTI_1</div>
<div>DTI_2: @Model.IB_MAT_ETI_DTI_2</div>
<div>DTI_3: @Model.IB_MAT_ETI_DTI_3</div>

<hr />

<div>MEM_1: @Model.IB_MAT_ETI_MEM_1</div>
<div>MEM_2: @Model.IB_MAT_ETI_MEM_2</div>
<div>MEN_3: @Model.IB_MAT_ETI_MEN_3</div>