@model ConexionSql.Models.Materiales.IbMat

<h2>AFMR IB_MAT</h2>
<hr />

<div>ID: @Model.IB_MAT_ID</div>
<div>PR: @Model.IB_MAT_PR</div>
<div>DEN: @Model.IB_MAT_DEN</div>
<div>MTI_ID: @Model.IB_MAT_MTI_ID</div>
<div>MTI_DEN: @Model.IB_MAT_MTI_DEN</div>
<div>MGR_ID: @Model.IB_MAT_MGR_ID</div>
<div>MGR_DEN: @Model.IB_MAT_MGR_DEN</div>
<div>VEN: @Model.IB_MAT_VEN</div>
<div>REU_CANT: @Model.IB_MAT_REU_CANT</div>
<div>CON_UNID: @Model.IB_MAT_CON_UNID</div>

<hr />

<div>CON_ACT: @Model.IB_MAT_CON_ACT</div>
<div>OCU: @Model.IB_MAT_OCU</div>

<div>ALT: @Model.IB_MAT_ALT</div>
<div>ANC: @Model.IB_MAT_ANC</div>
<div>PRO: @Model.IB_MAT_PRO</div>
<div>VOL: @Model.IB_MAT_VOL</div>

<hr />

<div>IMG_1: @Model.IB_MAT_IMG_1</div>
<div>IMG_2: @Model.IB_MAT_IMG_2</div>
<div>IMG_3: @Model.IB_MAT_IMG_3</div>
<div>IMG_4: @Model.IB_MAT_IMG_4</div>

<hr />

<div>LMAT: @Model.IB_MAT_LMAT</div>
<div>CANT_MULT: @Model.IB_MAT_CANT_MULT</div>
<div>UE: @Model.IB_MAT_UE</div>

<hr />

<div>ETI_ID: @Model.IB_MAT_ETI_ID</div>
<div>ETI_DEN: @Model.IB_MAT_ETI_DEN</div>
<div>ETI_VENC: @Model.IB_MAT_ETI_VENC</div>

<hr />

<div>PTE1_ID: @Model.IB_MAT_PTE1_ID</div>
<div>PTE1_DEN: @Model.IB_MAT_PTE1_DEN</div>
<div>PTE1_UBI_ID: @Model.IB_MAT_PTE1_UBI_ID</div>
<div>PTE1_UBI_DEN: @Model.IB_MAT_PTE1_UBI_DEN</div>

<hr />

<div>PROC1_ID: @Model.IB_MAT_PROC1_ID</div>
<div>PROC1_DEN: @Model.IB_MAT_PROC1_DEN</div>
<div>PROC1_TCI_ID: @Model.IB_MAT_PROC1_TCI_ID</div>
<div>PROC1_TCI_DEN: @Model.IB_MAT_PROC1_TCI_DEN</div>

<div>PROC2_ID: @Model.IB_MAT_PROC2_ID</div>
<div>PROC2_DEN: @Model.IB_MAT_PROC2_DEN</div>
<div>PROC2_TCI_ID: @Model.IB_MAT_PROC2_TCI_ID</div>
<div>PROC2_TCI_DEN: @Model.IB_MAT_PROC2_TCI_DEN</div>

<hr />

<div>TXT_1: @Model.IB_MAT_TXT_1</div>
<div>TXT_2: @Model.IB_MAT_TXT_2</div>
<div>TXT_3: @Model.IB_MAT_TXT_3</div>

<div>NUM_1: @Model.IB_MAT_NUM_1</div>
<div>NUM_2: @Model.IB_MAT_NUM_2</div>
<div>NUM_3: @Model.IB_MAT_NUM_3</div>

<div>DAT_1: @Model.IB_MAT_DAT_1</div>
<div>DAT_2: @Model.IB_MAT_DAT_2</div>
<div>DAT_3: @Model.IB_MAT_DAT_3</div>

<hr />

<div>MEM_1: @Model.IB_MAT_MEM_1</div>
<div>MEN_2: @Model.IB_MAT_MEN_2</div>
<div>MEN_3: @Model.IB_MAT_MEN_3</div>

<div>BIT_1: @Model.IB_MAT_BIT_1</div>
<div>BIT_2: @Model.IB_MAT_BIT_2</div>
<div>BIT_3: @Model.IB_MAT_BIT_3</div>

<hr />

<div>PMAT: @Model.IB_MAT_PMAT</div>
<div>STOCK_NFAR: @Model.IB_MAT_STOCK_NFAR</div>