@model ConexionSql.Models.Recepciones.TbRecDet

<h2>AFMR TB_REC_DET</h2>
<hr />

<div>TB_REC_DET_ID: @Model.TbRecDetId</div>
<div>TB_REC_DET_MAT_ID: @Model.TbRecDetMatId</div>
<div>TB_REC_DET_MAT_DEN: @Model.TbRecDetMatDen</div>
<div>TB_REC_DET_MAT_PR: @Model.TbRecDetMatPr</div>
<div>TB_REC_DET_MAT_MTI_ID: @Model.TbRecDetMatMtiId</div>
<div>TB_REC_DET_MAT_MTI_DEN: @Model.TbRecDetMatMtiDen</div>
<div>IB_MAT_VOL: @Model.IbMatVol</div>
<div>TB_REC_DET_VEN: @Model.TbRecDetVen</div>

<div>TB_REC_DET_EST_ING_ID: @Model.TbRecDetEstIngId</div>
<div>TB_REC_DET_EST_ING_DEN: @Model.TbRecDetEstIngDen</div>
<div>TB_REC_DET_EST_ID: @Model.TbRecDetEstId</div>
<div>TB_REC_DET_EST_DEN: @Model.TbRecDetEstDen</div>

<div>TB_REC_DET_EPR_OPC: @Model.TbRecDetEprOpc</div>
<div>TB_REC_DET_VOP_OPC: @Model.TbRecDetVopOpc</div>
<div>TB_REC_DET_OBS: @Model.TbRecDetObs</div>
<div>TB_REC_DET_MDE: @Model.TbRecDetMde</div>
<div>TB_REC_DET_MCO: @Model.TbRecDetMco</div>
<div>TB_REC_DET_IVIS_OPC: @Model.TbRecDetIvisOpc</div>
<div>TB_REC_DET_IVIS_OPC_NOM: @Model.TbRecDetIvisOpcNom</div>
<div>TB_REC_DET_ACAJ_OPC: @Model.TbRecDetAcajOpc</div>
<div>TB_REC_DET_ACAJ_OPC_NOM: @Model.TbRecDetAcajOpcNom</div>

<div>TB_REC_DET_REU_OPC: @Model.TbRecDetReuOpc</div>
<div>TB_REC_DET_REU_ID: @Model.TbRecDetReuId</div>
<div>TB_REC_DET_REU_DEN: @Model.TbRecDetReuDen</div>
<div>TB_REC_DET_REU_CANT: @Model.TbRecDetReuCant</div>

<div>TB_REC_ORT_ID: @Model.TbRecOrtId</div>
<div>TB_REC_ORT_DEN: @Model.TbRecOrtDen</div>

<div>TB_REC_DET_NUM_1: @Model.TbRecDetNum1</div>
<div>TB_REC_DET_NUM_2: @Model.TbRecDetNum2</div>
<div>TB_REC_DET_NUM_3: @Model.TbRecDetNum3</div>
<div>TB_REC_DET_TXT_1: @Model.TbRecDetTxt1</div>
<div>TB_REC_DET_TXT_2: @Model.TbRecDetTxt2</div>
<div>TB_REC_DET_TXT_3: @Model.TbRecDetTxt3</div>
<div>TB_REC_DET_DTI_1: @Model.TbRecDetDti1</div>
<div>TB_REC_DET_DTI_2: @Model.TbRecDetDti2</div>
<div>TB_REC_DET_DTI_3: @Model.TbRecDetDti3</div>
<div>TB_REC_DET_MEM_1: @Model.TbRecDetMem1</div>
<div>TB_REC_DET_MEM_2: @Model.TbRecDetMem2</div>
<div>TB_REC_DET_MEM_3: @Model.TbRecDetMem3</div>

<div>TB_REC_DET_PMAT: @Model.TbRecDetPmat</div>
<div>TB_REC_DET_MORT: @Model.TbRecDetMort</div>

<div>TB_REC_DET_VOP_CK_1: @Model.TbRecDetVopCk1</div>
<div>TB_REC_DET_VOP_CK_2: @Model.TbRecDetVopCk2</div>
<div>TB_REC_DET_VOP_CK_3: @Model.TbRecDetVopCk3</div>
<div>TB_REC_DET_VOP_CK_4: @Model.TbRecDetVopCk4</div>
<div>TB_REC_DET_VOP_CK_5: @Model.TbRecDetVopCk5</div>

<div>TB_REC_DET_TRA_OPC: @Model.TbRecDetTraOpc</div>
<div>TB_REC_DET_CANT_MULT: @Model.TbRecDetCantMult</div>
<div>TB_REC_DET_CANT_ELIM: @Model.TbRecDetCantElim</div>

<div>TB_REC_DET_REC_CANT: @Model.TbRecDetRecCant</div>
<div>TB_REC_DET_REC_STOCK: @Model.TbRecDetRecStock</div>
<div>TB_REC_DET_REC_TOT: @Model.TbRecDetRecTot</div>

<div>TB_REC_DET_CANT: @Model.TbRecDetCant</div>
<div>TB_REC_DET_STOCK: @Model.TbRecDetStock</div>
<div>TB_REC_DET_TOT: @Model.TbRecDetTot</div>

<div>TB_REC_DET_LAV_CANT: @Model.TbRecDetLavCant</div>
<div>TB_REC_DET_LAV_STOCK: @Model.TbRecDetLavStock</div>
<div>TB_REC_DET_LAV_TOT: @Model.TbRecDetLavTot</div>

<div>TB_REC_DET_DEC_CANT: @Model.TbRecDetDecCant</div>
<div>TB_REC_DET_DEC_STOCK: @Model.TbRecDetDecStock</div>
<div>TB_REC_DET_DEC_TOT: @Model.TbRecDetDecTot</div>

<div>TB_REC_DET_TRA_CANT: @Model.TbRecDetTraCant</div>
<div>TB_REC_DET_TRA_STOCK: @Model.TbRecDetTraStock</div>
<div>TB_REC_DET_TRA_TOT: @Model.TbRecDetTraTot</div>

<div>TB_REC_DET_EMP_CANT: @Model.TbRecDetEmpCant</div>
<div>TB_REC_DET_EMP_STOCK: @Model.TbRecDetEmpStock</div>
<div>TB_REC_DET_EMP_TOT: @Model.TbRecDetEmpTot</div>

<div>TB_REC_DET_PRO_CANT: @Model.TbRecDetProCant</div>
<div>TB_REC_DET_PRO_STOCK: @Model.TbRecDetProStock</div>
<div>TB_REC_DET_PRO_TOT: @Model.TbRecDetProTot</div>
<div>TB_REC_DET_PRO_ABO: @Model.TbRecDetProAbo</div>

<div>TB_REC_DET_ENT_CANT: @Model.TbRecDetEntCant</div>
<div>TB_REC_DET_ENT_STOCK: @Model.TbRecDetEntStock</div>
<div>TB_REC_DET_ENT_TOT: @Model.TbRecDetEntTot</div>

<div>TB_REC_DET_DEV_CANT: @Model.TbRecDetDevCant</div>

<div>TB_REC_DET_SEC_CANT: @Model.TbRecDetSecCant</div>
<div>TB_REC_DET_SEC_STOCK: @Model.TbRecDetSecStock</div>
<div>TB_REC_DET_SEC_TOT: @Model.TbRecDetSecTot</div>
<div>TB_REC_DET_SEC_PROC_STOCK: @Model.TbRecDetSecProcStock</div>
<div>TB_REC_DET_SEC_PROC_TOT: @Model.TbRecDetSecProcTot</div>

<div>TB_REC_DET_FREC_TOT: @Model.TbRecDetFrecTot</div>
<div>TB_REC_DET_FREC_STOCK: @Model.TbRecDetFrecStock</div>
<div>TB_REC_DET_FENT_STOCK: @Model.TbRecDetFentStock</div>
<div>TB_REC_DET_FENT_TOT: @Model.TbRecDetFentTot</div>

<div>TB_REC_ID: @Model.TbRecId</div>
<div>TB_REC_SEC_ORI_ID: @Model.TbRecSecOriId</div>
<div>TB_REC_SEC_ORI_DEN: @Model.TbRecSecOriDen</div>
<div>TB_REC_SEC_DES_ID: @Model.TbRecSecDesId</div>
<div>TB_REC_SEC_DES_DEN: @Model.TbRecSecDesDen</div>

<div>TB_REC_DET_ORT_ID: @Model.TbRecDetOrtId</div>
<div>TB_REC_DET_ORT_DEN: @Model.TbRecDetOrtDen</div>

<div>TB_REC_DET_PRO_ID: @Model.TbRecDetProId</div>
<div>TB_REC_DET_PRO_NOM: @Model.TbRecDetProNom</div>
<div>TB_REC_DET_PAC: @Model.TbRecDetPac</div>
<div>TB_REC_DET_REM: @Model.TbRecDetRem</div>
<div>TB_REC_DET_HEN: @Model.TbRecDetHen</div>