@model ConexionSql.Models.Reuso.TbReu

<h2>AFMR TB_REU</h2>
<hr />

<div>TB_REU_ID: @Model.TbReuId</div>
<div>TB_REU_ID_FORM: @Model.TbReuIdForm</div>
<div>TB_REU_FEC: @Model.TbReuFec</div>
<div>TB_REU_HOR_INI: @Model.TbReuHorIni</div>
<div>TB_REU_HOR_FIN: @Model.TbReuHorFin</div>

<div>TB_REU_PER_ID: @Model.TbReuPerId</div>
<div>TB_REU_PER_NOM: @Model.TbReuPerNom</div>
<div>TB_REU_PER_APE: @Model.TbReuPerApe</div>
<div>TB_REU_PER_CAR_ID: @Model.TbReuPerCarId</div>
<div>TB_REU_PER_CAR_DEN: @Model.TbReuPerCarDen</div>

<div>TB_REU_PC_LOG: @Model.TbReuPcLog</div>
<div>TB_REU_PC_USR: @Model.TbReuPcUsr</div>

<div>TB_REU_SEC_ID: @Model.TbReuSecId</div>
<div>TB_REU_SEC_DEN: @Model.TbReuSecDen</div>

<div>TB_REU_MAT_ID: @Model.TbReuMatId</div>
<div>TB_REU_MAT_DEN: @Model.TbReuMatDen</div>
<div>TB_REU_MAT_MTI_ID: @Model.TbReuMatMtiId</div>
<div>TB_REU_MAT_MTI_DEN: @Model.TbReuMatMtiDen</div>
<div>TB_REU_MAT_MCA: @Model.TbReuMatMca</div>
<div>TB_REU_MAT_FAB: @Model.TbReuMatFab</div>
<div>TB_REU_MAT_IDE: @Model.TbReuMatIde</div>

<div>TB_REU_MAT_OPC_CANT: @Model.TbReuMatOpcCant</div>
<div>TB_REU_MAT_OPC_REG: @Model.TbReuMatOpcReg</div>

<div>TB_REU_PROC_1: @Model.TbReuProc1</div>
<div>TB_REU_PROC_2: @Model.TbReuProc2</div>
<div>TB_REU_PROC_3: @Model.TbReuProc3</div>

<div>TB_REU_NUM_1: @Model.TbReuNum1</div>
<div>TB_REU_NUM_2: @Model.TbReuNum2</div>
<div>TB_REU_NUM_3: @Model.TbReuNum3</div>

<div>TB_REU_TXT_1: @Model.TbReuTxt1</div>
<div>TB_REU_TXT_2: @Model.TbReuTxt2</div>
<div>TB_REU_TXT_3: @Model.TbReuTxt3</div>

<div>TB_REU_DTI_1: @Model.TbReuDti1</div>
<div>TB_REU_DTI_2: @Model.TbReuDti2</div>
<div>TB_REU_DTI_3: @Model.TbReuDti3</div>

<div>TB_REU_MEM_1: @Model.TbReuMem1</div>
<div>TB_REU_MEM_2: @Model.TbReuMem2</div>
<div>TB_REU_MEM_3: @Model.TbReuMem3</div>

<div>TB_REU_EST_ING_ID: @Model.TbReuEstIngId</div>
<div>TB_REU_EST_ING_DEN: @Model.TbReuEstIngDen</div>
<div>TB_REU_EST_ING_FEC: @Model.TbReuEstIngFec</div>

<div>TB_REU_NHMD: @Model.TbReuNhmd</div>
<div>TB_REU_NHMD_FEC: @Model.TbReuNhmdFec</div>

<div>TB_REU_BSTO_FEC: @Model.TbReuBstoFec</div>
<div>TB_REU_BSTO: @Model.TbReuBsto</div>

<div>TB_REU_BSTO_PER_ID: @Model.TbReuBstoPerId</div>
<div>TB_REU_BSTO_PER_NOM: @Model.TbReuBstoPerNom</div>
<div>TB_REU_BSTO_BCREU_ID: @Model.TbReuBstoBcreuId</div>
<div>TB_REU_BSTO_BCREU_DEN: @Model.TbReuBstoBcreuDen</div>

<div>TB_REU_REC_DET_ID: @Model.TbReuRecDetId</div>
<div>TB_REU_PRO_ID: @Model.TbReuProId</div>
<div>TB_REU_PRO_DEN: @Model.TbReuProDen</div>

<div>TB_REU_FENT: @Model.TbReuFent</div>
<div>TB_REU_FENT_FEC: @Model.TbReuFentFec</div>